@(placeholder: String)

<div class="ui fluid icon input">
    <input type="text" data-action="search" placeholder="@placeholder">
    <i class="search icon"></i>
</div>

<div class="ui black button" data-action="editPage">
    Add New
</div>

<table class="ui sortable table" data-action="header"></table>

<script src="@routes.Assets.at("javascripts/app/builder.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/app/admin/controller.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/app/app.js")" type="text/javascript"></script>