@(placeholder: String, infoHeader: String, infoDetails: String)(implicit request: Request[_], lang: play.api.i18n.Lang, flash: Flash)

@import auxiliary.alert

<div class="ui ignored info icon message">
    <i class="info icon"></i>
    <div class="content">
        <h3 class="header">@infoHeader</h3>
        <p>@infoDetails</p>
    </div>
</div>

<div class="ui segment">
    <div class="ui fluid action input left icon">
        <input type="text" data-action="search" placeholder="@placeholder">
        <i class="search icon"></i>
        <div class="ui black button" data-action="createPage">@Messages("admin.center.panel.add.new")</div>
    </div>

    <table class="ui sortable table rp-table"></table>

    <script>
        $('.ui.dropdown').dropdown('set selected', '1');
    </script>

    <script src="@routes.Assets.at("javascripts/plugins/rpTable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app/admin/controller.js")" type="text/javascript"></script>

    @flash.get("success").map { message =>
        @alert(Messages("success"), message, "positive")
    }

    @flash.get("error").map { message =>
        @alert(Messages("error"), message, "negative")
    }

</div>