@(selected: enums.AdminSection.Value, title: String)(body: Html)(implicit request: Request[_], lang: play.api.i18n.Lang)

@import enums.{AdminSection, MainSection}

@active(current: AdminSection.Value) = @{
    if(selected == current) "active"
}

@index {

    <div class="rp-admin-menu-back"></div>
    <div class="ui left vertical inverted labeled icon menu" id="rp-admin-menu">

        <a class="item @active(AdminSection.Technology)" href="@controllers.admin.routes.Administration.techList()">
            <i class="home icon"></i>
            @Messages("admin.left.panel.technologies")
        </a>

        <a class="item @active(AdminSection.Questionnaire)" href="@controllers.admin.routes.Administration.questList()">
            <i class="calendar icon"></i>
            @Messages("admin.left.panel.questionnaire")
        </a>

        <a class="item @active(AdminSection.Quiz)" href="@controllers.admin.routes.Administration.quizList()">
            <i class="smile icon"></i>
            @Messages("admin.left.panel.quiz")
        </a>

        <a class="item @active(AdminSection.Test)" href="@controllers.admin.routes.Administration.testList()">
            <i class="block layout icon"></i>
            @Messages("admin.left.panel.tests")
        </a>



    </div>

    <div id="rp-admin-content">
        <div class="ui red tiny progress rp-loader">
            <div class="bar"></div>
            <div class="label">@Messages("general.loading")</div>
        </div>
        <h1>@title</h1>
        @body
    </div>

    @* Confirmation Modal *@
    <div class="ui basic modal" id="rp-confirmation">
        <i class="close icon"></i>
        <div class="header"></div>
        <div class="content">
            <div class="image">
                <i class="help circle icon"></i>
            </div>
            <div class="description"></div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui basic inverted button">
                    <i class="remove icon"></i>
                    @Messages("general.no")
                </div>
                <div class="ui red basic inverted button rp-confirm">
                    <i class="checkmark icon"></i>
                    @Messages("general.yes")
                </div>
            </div>
        </div>
    </div>

}(MainSection.Admin)