/* -- Viewport */

#rp-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#rp-footer {
    height: 10px;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

#rp-viewport {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 50px;
    bottom: 5px;
}

/* -- Admin navigation bar */

@media (max-width: 700px) {
    #rp-navbar .step {
        width: 100px;
    }
}

@media (min-width: 701px) {
    #rp-navbar .step {
        width: 200px;
    }

    #rp-navbar {
        width: 250px;
    }
}

#rp-navbar .active,
#rp-navbar .active::after {
    background: #FF3333;
}

#rp-navbar .active:hover,
#rp-navbar .active:hover::after {
    background: #F20000;
}

#rp-navbar .active .title,
#rp-navbar .active::before {
    color: white;
}

/* -- Admin panel */
#rp-admin-panel .trash {
    display: none;
    float: right
}

#rp-admin-panel .item:hover .trash {
    display: table-cell;
}