/* -- Viewport */

#rp-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#rp-footer {
    height: 10px;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

#rp-viewport {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 50px;
    bottom: 5px;
}

/* zero border radius rules */
#rp-admin-panel .ui.table,
#rp-navbar .step:first-child,
#rp-navbar .step:last-child,
#rp-admin-panel input,
#rp-admin-panel .button {
    border-radius: 0;
}

/* -- Admin navigation bar */

@media (max-width: 700px) {
    #rp-navbar .step {
        width: 100px;
    }
}

@media (min-width: 701px) {
    #rp-navbar .step {
        width: 200px;
    }

    #rp-navbar {
        width: 250px;
    }
}

#rp-navbar .active,
#rp-navbar .active::after {
    background: #FF3333;
}

#rp-navbar .active:hover,
#rp-navbar .active:hover::after {
    background: #F20000;
}

#rp-navbar .active .title,
#rp-navbar .active::before {
    color: white;
}

/* -- Admin panel */
#rp-admin-panel .trash {
    float: right;
    visibility: hidden;
}

#rp-admin-panel .table tr {
    cursor: pointer;
}

#rp-admin-panel .table th {
    border-right: none;
    border-left: none;
}

#rp-admin-panel .table tr:hover .trash {
    visibility: visible;
    color: #888888;
}

.trash {
    transition: all .2s ease-in-out;
}

.trash:hover {
    transform: scale(1.3);
    color: black!important;
}