#rp-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#rp-footer {
    height: 10px;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

#rp-viewport {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

#rp-navbar {
    display: inline-block;
    float: left;
}

#rp-navbar .step {
    width: 200px;
}

#rp-admin-content {
    margin-left: 30px;
}

#rp-navbar .active,
#rp-navbar .active::after {
    background: #FF3333;
}

#rp-navbar .active:hover,
#rp-navbar .active:hover::after {
    background: #F20000;
}

#rp-navbar .active .title,
#rp-navbar .active::before {
    color: white;
}

