html {
    /* TODO: update in semantic */
    position: relative;
    min-height: 100%;
    height: auto!important;
}
body {
    /* Margin bottom by footer height TODO: update in semantic*/
    margin-bottom: 60px!important;
}

#rp-header {
    overflow: hidden;
}

#rp-header .row {
    padding: 0;
}

/*#rp-header .column {*/
    /*min-height: 100%;*/
    /*height: auto;*/
/*}*/

#rp-admin-menu {
    margin: 0;
    width: 200px;
}

#rp-admin-menu .item.active {
    background-color: red;
}

#rp-footer {
    margin: 0;
    background-color: grey;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.top-left-rounded {
    border-top-left-radius: 10px!important;
}

