html {
    /* TODO: update in semantic */
    position: relative;
    min-height: 100%;
    height: auto!important;
}
body {
    /* Margin bottom by footer height TODO: update in semantic*/
    margin-bottom: 30px!important;
}

#rp-header {
    overflow: hidden;
}

#rp-header .row {
    padding: 0;
}

#rp-header h2 {
    margin: 0.6em 0 0 0;
}

#rp-admin-menu {
    margin: 0;
    width: 200px;
}

.rp-admin-menu-back,
#rp-admin-menu .item {
    /* TODO: UPDATE IN semantic */
    background-color: #383B3D;
}

#rp-auth {
    padding-top: 7px;
    cursor: pointer;
}

#rp-admin-menu .item.active {
    background-color: red;
}

#rp-footer {
    margin: 0;
    /*background-color: grey;*/
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.top-left-rounded {
    border-top-left-radius: 10px!important;
}