@(tech: Option[Technology], techForm: Form[Technology])

@import administration._
@import enums.AdminSection
@import helper._
@import views.rpHelpers._

@url() = @{
    if(tech.isDefined) controllers.admin.routes.TechnologyController.updateTech(tech.get.id.get)
    else controllers.admin.routes.TechnologyController.createTech()
}

@home(AdminSection.Technology, if(tech.isDefined) "Update" + tech.get.name else "Create New Technology") {

    @form(url) {
        <div class="ui form">

            @if(tech.isDefined) {
                <input type="hidden" name="id" value="@techForm.data.get("id").get" />
            }

            @inputText(techForm("name"), '_label -> "Technology name", '_help -> "")
            @textarea(techForm("description"), '_label -> "Description", '_help -> "")

            <div class="actions">
                <button type="submit" class="ui submit button">Save</button>
                <a href="@controllers.admin.routes.Administration.techList()" class="btn">Cancel</a>
            </div>

        </div>

    }
}
