@(techForm: Form[Technology])(implicit request: Request[_], lang: play.api.i18n.Lang, flash: Flash)

@import administration._
@import enums.AdminSection
@import helper._
@import views.rpHelpers._

@isNew = @{
    techForm.value.map(_.id).isEmpty
}

@url() = @{
    if(isNew) controllers.admin.routes.TechnologyController.createTech()
    else controllers.admin.routes.TechnologyController.updateTech(techForm.value.flatMap(_.id).get)
}

@home(AdminSection.Technology, if(isNew) "Create New Technology" else "Update " + techForm.value.map { _.name }.getOrElse("Technology")) {

    @form(url) {
        <div class="ui warning form segment">

            @flash.get("error").map { message =>
                <div class="ui negative message hidden rp-flash">
                    <i class="close icon"></i>
                    <div class="header">
                        @Messages("error")
                    </div>
                    <p>@message</p>
                </div>
            }

            <div class="ui form">

                @if(!isNew) {
                    <input type="hidden" name="id" value="@techForm.data.get("id").get" />
                }

                @inputText(techForm("name"), '_label -> "Technology name", '_help -> "")
                @textarea(techForm("description"), '_label -> "Description", '_help -> "")

                <div class="actions">
                    <button type="submit" class="ui submit button">Save</button>
                    <a href="@controllers.admin.routes.Administration.techList()" class="btn">Cancel</a>
                </div>

            </div>
        </div>

    }
}
